#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divprincipal{
  border-style: solid;
  border-radius: 10px;
  width: 100vh;
  height: 90vh;
  background:url(../src/assets/fondo.avif) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: scroll;

}
.componens{
  display: flex;
  align-content: space-between;
  align-items: center;
}