.divform{
    width: 35vh;
    margin-inline: 6%;
    align-self: center;
}

.inputform{
    display: flex;
    flex-direction: column;
}
.titulos{
    margin: 2%;
    font-size: large;
    color: white;
}
.espacios{
    background-color: white;
    color: black;
    border-radius: 5px;
    border-style: unset;
    height: 3vh;
}
.esptext{
    background-color: white;
    border-radius: 5px;
    color: black;
}
.btn-add{
    background-color: rgb(0, 162, 255);
    margin: 3%;
    border-radius: 5px;
    border-style: none;
    height: 7vh;
    width: 18vh;
    font-size: x-large;
    color: beige;
    align-self: center
}
.btn-add:hover{
    background-color: aqua;
}